body {
  background: #eeeeee;
  font-family: tahoma, verdana, sans serif;
}

canvas {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}

h1 {
  margin-left: 1rem;
}

#controls {
  margin-left: 1rem;
}

#volume-label {
  margin-left: 1rem;
}

section {
  margin-bottom: 1rem;
}

#play-button {
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

.dg .cr.function {
  color: red;
}

li .cr.function.add-button {
  color: green;
  border-left: 3px solid green;
}

#timer {
  display: flex;
}

#time-tracker {
  margin-right: 2em;
}

ul {
  overflow: auto;
}

.selector {
  transform: translateY(-100px);
}

#my-stats-container div {
  left: 30% !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 1em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  margin: auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  overflow: auto;
}