body {
  background: #353535;
  font-family: tahoma, verdana, sans serif;
}

p,
label,
h1,
#time-tracker {
  color: white;
}

#player label {
  margin-left: 12px;
}

canvas {
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 1rem;
  margin-bottom: 6px;
}

#controls {
  margin-left: 1rem;
}

#volume-label {
  margin-left: 1rem;
}

div {
  margin-bottom: 1rem;
}

#play-button {
  font-size: 1.4rem;
  width: 8rem;
  color: white;
  background: linear-gradient(to bottom, #00670f 0%, #042e0b 100%);
}

#removal {
  width: 8rem;
  height: 48px;
  font-size: 1rem;
  color: white;
  background: #782626;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

.dg .cr.function {
  color: red;
}

li .cr.function.add-button {
  color: green;
  border-left: 3px solid green;
}

#timer {
  display: flex;
}

#time-tracker {
  margin-right: 2em;
}

ul {
  overflow: auto;
}

.selector {
  transform: translateY(-100px);
}

#my-stats-container div {
  margin-bottom: -12px;
  position: static !important;
  display: inline-block !important;
}

#my-stats-container,
#update-message,
#time-tracker,
#controls,
#helpfuls,
.dg,
.dg div {
  margin-bottom: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 1em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  margin: auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  overflow: auto;
}

#progress-bar {
  width: 65vw;
  border-radius: 50%;
}

/* Fallback stuff */
input[type=range] {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

/* WebKit styles */
input[type=range]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to left,
      #2a2ac8, #009bfb);
  border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #009bfb;
}

/* Firefox styles */
input[type=range]::-moz-range-track {
  background-image: -moz-linear-gradient(left,
      #2a2ac8, #009bfb);
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #009bfb;
}

#update-message {
  margin-left: 1rem;
  display: inline-block;
  color: red;
}

#helpfuls {
  display: flex;
  align-items: center;
}