body {
  background: #eeeeee;
  font-family: tahoma, verdana, sans serif;
}

canvas {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}

h1 {
  margin-left: 1rem;
}

#controls {
  margin-left: 1rem;
}

#volume-label {
  margin-left: 1rem;
}

section {
  margin-bottom: 1rem;
}

#play-button {
  font-size: 1.4rem;
  width:8rem;
  color:white;
  background: linear-gradient(to bottom, #fe3838 0%, #ec7835 100%);
}
#removal {
  width:8rem;
  font-size: 1rem;
  color:white;
  background: #fe3838;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

.dg .cr.function {
  color: red;
}

li .cr.function.add-button {
  color: green;
  border-left: 3px solid green;
}

#timer {
  display: flex;
}

#time-tracker {
  margin-right: 2em;
}

ul {
  overflow: auto;
}

.selector {
  transform: translateY(-100px);
}

#my-stats-container div {
  left: 30% !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 1em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  margin: auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  overflow: auto;
}

#progress-bar {
  width: 65vw;
  border-radius: 50%;
}

/* Fallback stuff */
input[type=range] {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

/* WebKit styles */
input[type=range]::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    to left,
    #ff8a00, #e52e71
  );
  border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #e52e71;
}

/* Firefox styles */
input[type=range]::-moz-range-track {
  background-image: -moz-linear-gradient(
    left,
    #ff8a00, #e52e71
  );
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #e52e71;
}

#update-message {
  margin-left: 1rem;
  display: inline-block;
  color:red;
}
